* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

/* main parts*/

body {
  font-family: 'Inter', sans-serif;
  color: rgb(237, 221, 221);
  font-size: 22px;
  background-color: rgb(83, 83, 83);
}

.background-section-1 {
  background-image: url('./img/wooden-minimasltic.jpg');
  background-size: cover;
  position: relative;
  display: grid;
}
/* MAIN CONTAINERS */
.nav-container {
  display: flex;
  justify-content: space-between;
  height: 45px;
  border-bottom: 2px solid rgb(177, 173, 173);
  /* text-shadow: 2px 1px 2px rgb(175, 172, 172); */
  align-items: center;
  /* gap: 20px; */
}
.intro-container {
  /* width: 60%; */
  margin-left: auto;
  margin-right: auto;
  /* margin-left: auto;
  margin-right: auto; */
  height: 80vh;
  display: grid;
  /* justify-content: center;
  align-content: center; */
}

/* SMALLER ITEMS */

.nav-links {
  display: flex;
  gap: 20px;
  margin-right: 50px;
  margin-left: 50px;
  cursor: pointer;
  color: rgb(237, 221, 221);
}

.nav-welcome-message {
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
  margin-left: 40px;
}

.nav-github:link,
.nav-github:visited {
  text-decoration: none;
  color: rgb(237, 221, 221);
}

.nav-github:hover,
.nav-github:active {
  text-decoration: none;
  text-shadow: 2px 2px rgba(232, 45, 32, 0.692);
}

.footer-end {
  display: flex;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 50px;
  margin-bottom: 7px;
  margin-top: 7px;
}

.home-page:link,
.home-page:visited {
  text-decoration: none;
  font-weight: bold;
  color: rgb(237, 221, 221);
  cursor: pointer;
}

.home-page:hover,
.home-page:active {
  text-decoration: none;
  text-shadow: 2px 2px rgba(232, 45, 32, 0.692);
}

.about-modal {
  background-color: white;

  position: absolute;
  width: 450px;
  height: 600px;

  justify-self: center;
  align-self: center;
  border-radius: 4px;
  display: block;
  animation: fadeIn 1.2s;
}

.contact-modal {
  background-color: white;
  position: absolute;
  width: 450px;
  height: 600px;

  justify-self: center;
  align-self: center;
  border-radius: 4px;
  display: block;
  animation: fadeIn 1s;
}

/* .hideModal {
  animation: fadeOut 4s;
} */

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  0% {
    transform: translateY(40%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
/*
@keyframes slide-up {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
} */

.hidden {
  display: none;
}

.hideModal {
  opacity: 0;
  animation: fadeOut 1s;
}
/* //////////////////////////////////////// */
/* INTRO SECTION */
.intro-container-card {
  background-color: rgba(203, 227, 235, 0.425);
  width: 1000px;
  height: 700px;

  display: grid;
  justify-self: center;
  align-self: center;
  border-radius: 20.5px;
  grid-template-rows: 20% 80%;
}

.intro-container-heading {
  /* gap: 20px; */
  font-size: 50px;
  font-family: 'Inter', sans-serif;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  /* height: 30%; */
  justify-self: center;
  color: rgba(238, 79, 51, 0.836);
  font-weight: bold;
  text-shadow: 3px 3px rgba(24, 16, 16, 0.692);

  /* width: 100%; */
  text-decoration: 3px underline;
  text-decoration-color: rgba(255, 0, 0, 0.134);
}

.intro-container-content {
  /* justify-self: center; */
  margin-left: 100px;
  margin-right: 100px;
  /* align-content: start; */
  /* justify-items: start; */
}
.intro-greeting {
  font-size: 30px;
  /* justify-content: center;
  align-content: center; */
  text-shadow: 2px 2px rgba(10, 9, 9, 0.529);
  color: rgb(197, 45, 45);

  margin-bottom: 14px;
  font-weight: bold;
}

.intro-paragraph {
  line-height: 1.6;
  text-shadow: 2px 2px rgba(10, 9, 9, 0.529);
  margin-bottom: 14px;
  font-size: 20px;
}
