* {
  margin: 0;
  padding: 0;
  font-style: sans-serif;
  font-size: 16px;
}

/* main parts*/

body {
  background-color: aliceblue;
}
.nav-bar {
  width: 100%;
  background-color: rgba(38, 37, 37, 0.553);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 30px;
  justify-content: space-between;
  height: 40px;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  border-radius: 3px;
}

.nav-list {
  display: flex;
  gap: 45px;
  margin-bottom: 10px;
}
.copyright {
  width: 100%;
  background-color: rgba(106, 117, 220, 0.553);
}

.section-container {
  display: grid;

  justify-items: stretch;
  align-self: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;

  /* column-gap: 10px; */
  /* margin-left: 10%; */
  margin-bottom: 10px;
  border-radius: 5px;
  gap: 7px;
}

/* section part */
.section-1 {
  height: 80vh;
  background-color: rgba(193, 151, 233, 0.334);
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgba(85, 84, 84, 0.5);
}
.section-2 {
  height: 80vh;
  background-color: rgba(144, 231, 130, 0.4);
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgba(85, 84, 84, 0.5);
}

.section-3 {
  height: 80vh;
  background-color: rgba(233, 128, 133, 0.383);
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgba(85, 84, 84, 0.5);
}

/* individual items */
.nav-contact {
  margin-right: 50px;
}

.nav-welcome {
  margin-left: 30px;
  font-size: 25px;
  margin-bottom: 7px;
}
